#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MeeGenius! Children's Books
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=jhfhmaajajcjoijfaceafiembkmhcddc
Icon=chrome-jhfhmaajajcjoijfaceafiembkmhcddc-Default
NoDisplay=true
StartupWMClass=crx_jhfhmaajajcjoijfaceafiembkmhcddc
OnlyShowIn=Old;
