#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=NASA Online TV HD
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ggpeehmipebgblgaokenepkkinmbnipa
Icon=chrome-ggpeehmipebgblgaokenepkkinmbnipa-Default
NoDisplay=true
StartupWMClass=crx_ggpeehmipebgblgaokenepkkinmbnipa
OnlyShowIn=Old;
