#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=BrainPOP Featured Movie
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cdikkckjinnmjpgkjjpnfmmbcpbhmklf
Icon=chrome-cdikkckjinnmjpgkjjpnfmmbcpbhmklf-Default
NoDisplay=true
StartupWMClass=crx_cdikkckjinnmjpgkjjpnfmmbcpbhmklf
OnlyShowIn=Old;
