/*Checkout Steps*/
#steps{background:url(//images.highspeedbackbone.net/checkout/03-checkout-logo.gif) no-repeat 0 50%;padding-left:175px;height:30px;}
#steps h1{background:url(//images.highspeedbackbone.net/checkout/99-checkout-steps-new.png) no-repeat 0 0;text-indent:-9999px;height:29px;margin:0;padding:0;}
#steps.step1 h1{background-position:0 -29px;}
#steps.step2 h1{background-position:0 -58px;}
#steps.step3 h1{background-position:0 -87px;}
#steps.step4 h1{background-position:0 -116px;}
#steps.step5 h1{background-position:0 -145px;}

/*Headers*/
h2{background-color:#053865;color:#FFFFFF;}

/*ReviewPage*/
#id-review{background-color:#93B6D4;}
#id-review .review-action{background-color:#053865;}
#review-details h2{background-color:#4A779F;}

#review-upsell li.active{background-color:#f2f2f2;border-color:#d4d4d4;}
#review-upsell-items{background-color:#f2f2f2;border:1px solid #d4d4d4;}

/*buttons*/
.primary{background-image:url(//images.highspeedbackbone.net/checkout/03-checkoutBtns-sprite.png);background-repeat:no-repeat;}
.secondary,.secondary span,.secondaction,.secondaction span,.tertiary,.tertiary span,
.secondaryMed,.secondaryMed span,.secondactionMed,.secondactionMed span,.tertiaryMed,.tertiaryMed span,
.secondaryBig,.secondaryBig span,.secondactionBig,.secondactionBig span,.tertiaryBig,.tertiaryBig span
{background-image:url(//images.highspeedbackbone.net/checkout/03-ckobtn-sp-sm.png);background-repeat:no-repeat;}

.secondary{background-position: 0 -24px;font-size: 11px;font-weight:bold;color: #394e60!important;height: 19px;line-height: 18px;}
.secondary span {background-position:right -24px;margin-left:8px;padding-right:8px;line-height:19px;}
.tertiary{background-position: 0 0;font-size: 11px;font-weight:bold;color: #ffffff!important;height: 19px;line-height: 18px;}
.tertiary span {background-position:right 0;margin-left:8px;padding-right:8px;line-height:19px;}
.secondaction{background-position: 0 -48px;font-size: 11px;font-weight:bold;color: #ffffff!important;height: 19px;line-height: 18px;}
.secondaction span {background-position:right -48px;margin-left:8px;padding-right:8px;line-height:19px;}

.secondaryMed{background-position: 0 -112px;font-size: 12px;font-weight:bold;color: #394e60!important;height: 25px;line-height: 24px;}
.secondaryMed span {background-position:right -112px;margin-left:8px;padding-right:8px;line-height:25px;}
.tertiaryMed{background-position: 0 -77px;font-size: 12px;font-weight:bold;color: #ffffff!important;height: 25px;line-height: 24px;}
.tertiaryMed span {background-position:right -77px;margin-left:8px;padding-right:8px;line-height:25px;}
.secondactionMed{background-position: 0 -147px;font-size: 12px;font-weight:bold;color: #ffffff!important;height: 25px;line-height: 24px;}
.secondactionMed span {background-position:right -147px;margin-left:8px;padding-right:8px;line-height:25px;}

.signIn{background-position:0 -38px;width:232px;}
.signInGuest{background-position:0 -959px;width:150px;}
.signInExisting{background-position:0 -94px;width:219px;}
.createAccount{background-position:0 -66px;width:157px;}
.continue{background-position:0 -122px;width:89px;}
.submit{background-position:0 -150px;width:77px;}
.proceedToCheckout{background-position:0 0;width:180px;height:35px;line-height:34px;}
.continueShopping{background-position:0 -365px;width:172px;height:35px;line-height:34px;}
.placeOrder{background-position:0 -327px;width:161px;height:35px;line-height:34px;}
.requestQuote{background-position:0 -487px;width:112px;}
.updateQuote{background-position:0 -515px;width:105px;}
.shipToMultiple{background-position:0 -459px;width:185px;}
.shipToAddress{background-position:0 -206px;width:144px;}
.useAddress{background-position:0 -178px;width:124px;}
.addAddress{background-position:0 -234px;width:124px;}
.updateAddress{background-position:0 -431px;width:117px;}
.returnToAddressbook{background-position:0 -403px;width:166px;}
.addCard{background-position:0 -774px;width:75px;}
.createAccountbtn{background-position:0 -989px;width:131px;}
.requestQuote-lrg {width:161px; height:35px; line-height:34px; background-position:0 -1076px;}
.updateQuote-lrg {width:161px; height:35px; line-height:34px; background-position:0 -1115px;}

/* Bongo */
.bongo_wrap{padding:5px; width:98%; max-width:715px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;}
#bongo_messaging{font-size:14px; line-height:24px; padding:8px; background:#f3f5f6; border:1px solid #e8e9ea; margin-bottom:20px; text-align:center;}
.bongoTitleLG{font-size:18px; line-height:30px;}
.bongo_text{width:98%;}
dl.bongo_titleList dt{font-weight:bold;}
dl.bongo_titleList dd{list-style-type:disc; display:list-item; margin-left:15px; line-height:24px;}
.ui-dialog .bongo_continue { background-image: url("http://images.highspeedbackbone.net/cart/bongoCheckout_btn.png")!important; width: 260px; height: 30px;}