#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=3D Solar System Web
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=mdaaepplopehigjgkolniddiadbbkphd
Icon=chrome-mdaaepplopehigjgkolniddiadbbkphd-Default
NoDisplay=true
StartupWMClass=crx_mdaaepplopehigjgkolniddiadbbkphd
