#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Build with Chrome
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=lbbbhbjeecagnlfgggogfclkdjamoapf
Icon=chrome-lbbbhbjeecagnlfgggogfclkdjamoapf-Default
NoDisplay=true
StartupWMClass=crx_lbbbhbjeecagnlfgggogfclkdjamoapf
